.section-about {
  color: #777;
  background-color: white;
  text-align: center;
  text-align: justify;
  h1 {
    font-size: 40px;
    font-weight: 400;
  }
  p {
    line-height: 1.956rem;
  }
}

@media (min-width: 992px) and (min-width: 768px) {
  .section-about {
    padding: 50px 80px;
  }
}

@media (max-width: 576px) {
  .section-about {
    padding: 1rem;
  }
}
