.section-about {
  color: #777;
  background-color: white;
  text-align: center;
  text-align: justify;
}

@media (min-width: 992px) and (min-width: 768px) {
  .section-about {
    padding: 50px 80px;
  }
}

@media (max-width: 576px) {
  .section-about {
    padding: 1rem;
  }
}
