.home {
  opacity: 1;
  display: flex;
  // background-image: url('../img/bck-3.jpg');
  background-blend-mode: lighten;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.home-wrapper {
  background-color: #2098d1;

  overflow: hidden;
}
@media (min-width: 992px) and (min-width: 768px) {
  .home {
    & > .center {
      // margin: 0;
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
    }
  }
}

@media (max-width: 576px) {
  .home {
    & > .center {
      position: relative;
    }
  }
}
