.home {
  opacity: 1;
  display: flex;
  // background-image: url('../img/bck-3.jpg');
  background-blend-mode: lighten;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #fff;
  & .home__btn {
    border: 2px solid #fff;
    color: #fff;
    background: none;
  }
}
.home-wrapper {
  background-color: $color-secondary;
  overflow: hidden;
  img {
    width: 15vw;
  }
}
@media (min-width: 992px) and (min-width: 768px) {
}

@media (max-width: 576px) {
  .home {
    & > .center {
      position: relative;
    }
  }
}
